[submodule "bundle/kalahari"]
	path = bundle/kalahari
	url = https://github.com/fabi1cazenave/kalahari.vim
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/vim-scripts/Syntastic
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = https://github.com/vim-scripts/snipMate
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "bundle/rainbow"]
	path = bundle/rainbow
	url = https://github.com/luochen1990/rainbow
